<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="paused" value="true"/>
	</include>
	<node name="spawn_table" pkg="gazebo_ros" type="spawn_model" args="-file $(find ycb_object_models)/models/urdf/table.urdf -urdf -z 0.01 -model table" respawn="false" output="screen" />
	<node name="spawn_mug" pkg="gazebo_ros" type="spawn_model" args="-file $(find ycb_object_models)/models/urdf/mug.urdf -urdf -x 0.4 -y 0.8 -z 0.58 -model mug" respawn="false" output="screen" />
	<node name="spawn_plate" pkg="gazebo_ros" type="spawn_model" args="-file $(find ycb_object_models)/models/urdf/plate.urdf -urdf -x 0.3 -y 0.5 -z 0.58 -model plate" respawn="false" output="screen" />
	<node name="spawn_bowl" pkg="gazebo_ros" type="spawn_model" args="-file $(find ycb_object_models)/models/urdf/bowl.urdf -urdf -x 0.35 -y 0.2 -z 0.58 -model bowl" respawn="false" output="screen" />
	<node name="spawn_spoon" pkg="gazebo_ros" type="spawn_model" args="-file $(find ycb_object_models)/models/urdf/spoon.urdf -urdf -x 0.4 -y 0.0 -z 0.58 -model spoon" respawn="false" output="screen" />
	<node name="spawn_fork" pkg="gazebo_ros" type="spawn_model" args="-file $(find ycb_object_models)/models/urdf/fork.urdf -urdf -x 0.4 -y -0.1 -z 0.58 -model fork" respawn="false" output="screen" />
	<node name="spawn_knife" pkg="gazebo_ros" type="spawn_model" args="-file $(find ycb_object_models)/models/urdf/knife.urdf -urdf -x 0.4 -y -0.2 -z 0.58 -model knife" respawn="false" output="screen" /> 
	<node name="spawn_table_layout" pkg="gazebo_ros" type="spawn_model" args="-file $(find ycb_object_models)/models/urdf/table_layout.urdf -urdf -x 0.35 -y -0.7 -z 0.6 -model table_layout" respawn="false" output="screen" /> 
</launch>
